clip-anytorch
clize
einops
fsspec
ftfy
imageio
kornia
numpy
omegaconf
pandas
Pillow
pytorch-lightning==1.7.7
requests
taming-transformers-rom1504
tensorboard
tensorflow
torch
torchaudio
torchmetrics
torchvision
torchtext
entmax
x-transformers==0.19.1
open_clip_torch
git+https://github.com/CompVis/net2net
